<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores_List</title>
</head>
<body>

    <h1>Autores</h1>
    <ul>
        {% for autor in object_list %}
        <li>
            <p>NOMBRE: {{ autor.nombre }} </p>
            <p>APELLIDO: {{ autor.apellido }} </p>
            <p>
                <a href="{% url 'Detail' autor.id %}">Ver</a> |
                <a href="{% url 'Edit' autor.id %}">Editar</a> |
                <a href="{% url 'Delete' autor.id %}">Borrar</a>
            </p>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'New' %}">Nuevo</a> |
<br>
<button>
    <a href="../autores">Volver</a>
</button>
</body>
</html>