<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <body>
            {% for a in autores %}
            
            <li>{{l}}</li>
            <button>
                <a href="{% url 'EliminarAutor' a.nombre%}"> Eliminar</a>
                <a href="{% url 'EditarAutor' a.nombre%}"> Editar</a>
            </button>
            {% endfor %}
            <br><a href="autores">Agregar otro autor</a>
        </body>
    </body>
    </html>