<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <body>
            {% for g in generos %}
            
            <li>{{g}}</li>
            <button>
                <a href="{% url 'EliminarGenero' g.nombre %}"> Eliminar</a>
                <a href="{% url 'EditarGenero' g.nombre %}"> Editar</a>
            </button>
            {% endfor %}
            <br><a href="generos">Agregar otro genero</a>
        </body>
    </body>
    </html>